!!!
%html
  %head
    %title Bonzofenix
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Bootstrap
    %link{href: "/css/application.css", rel: "stylesheet"}/
    %link{href: "/css/bootstrap.min.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/css/bootstrap-docs.css",media: "screen", rel: "stylesheet"}/
    %link{href: "/css/bootstrap-markdown.min.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/css/font-awesome.min.css", media: "screen", rel: "stylesheet"}/
    %link{href: "/css/coderay.css", rel: "stylesheet"}/
  %body
    .row.user-nav
      .col-md-11
        .nav
          %a.pull-right{href: '/sudo'}
            %span.glyphicon.glyphicon-log-in
            Sudo
    .row.main-content
      .col-md-2.col-md-offset-1.border-right
        .links
          -if $settings.respond_to? :github
            %a.fa.fa-github.fa-3{ href: $settings.github, target: "_blank" }
          -if $settings.respond_to? :linkedin
            %a.fa.fa-linkedin.fa-3{ href: $settings.linkedin, target: "_blank" }
          -if $settings.respond_to? :twitter
            %a.fa.fa-twitter.fa-3{ href: $settings.twitter, target: "_blank"}
          -if $settings.respond_to? :email
            %a.fa.fa-envelope.fa-3{ href: "mailto:#{$settings.email}" }


        %a{href: "/"}
          %img.img-responsive.img-circle{src: "#{$settings.profile_image}"}/
        = render_navigation
        %ul.nav.last-posts
          %h3
            Latest posts
          -Post.all.each do |p|
            %li.border-top
              %a{href: "#{p.show_url}"}
                %h5= p.title
      .col-md-8
        = yield
  %footer.text-center
    This page is power by
    %a{href: 'http://github.com/bonzofenix/goldfish'}
      Goldfish

    %script{src: "//code.jquery.com/jquery.js"}
    %script{src: "/js/bootstrap.min.js"}
    %script{src: "/js/bootstrap-tagsinput.min.js"}
    %script{src: "/js/bootstrap-markdown.js"}
    %script{src: "/js/markdown.js"}
    %script{src: "/js/to-markdown.js"}
    %script{src: "/js/application.js"}
